@charset "UTF-8";


.root {
	background-image: url('../imgs/room3.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	position: relative;
}

#bed {
	position: absolute;
	width: 78%;
	height: 46%;
	left: 10%;
	top: 54%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#table {
	position: absolute;
	width: 16%;
	height: 16%;
	right: 1%;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#photo {
	position: absolute;
	width: 28%;
	height: 32%;
	left: 19%;
	top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	width: 20%;
	height: 20%;
	cursor: pointer;
}