@charset "UTF-8";

body {
	margin: 0;
}

#nextbtn::after {
	position: absolute;
	left: 21px;
	top: 21px;
	content: '';
	width: 30px;
	height: 30px;
	border-top: 5px solid #000;
	border-right: 5px solid #000;
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#prevbtn::after {
	position: absolute;
	left: 35px;
	top: 20px;
	content: '';
	width: 30px;
	height: 30px;
	border-top: 5px solid #000;
	border-right: 5px solid #000;
	transform: rotate(225deg);
	cursor: pointer;
}

#output {
	position: absolute;
	width: 260%;
	height: 13%;
	top: -8%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#nextbtn {
	position: absolute;
	top: -8%;
	right: -88%;
	width: 28%;
	height: 13%;
}

#prevbtn {
	position: absolute;
	width: 28%;
	height: 13%;
	top: -8%;
	left: -85%;
}

.root {
	width: 100%;
	height: 100vh;
	background-image: url('../imgs/start.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.start {
	position: absolute;
	width: 19%;
	height: 56%;
	left: 41%;
	top: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	width: 100px;
	height: 100px;
}

#storybtn {
	display: block;
	position: relative;
	float: left;
	width: 121px;
	padding: 0;
	margin: 14px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 14px;
	color: #FFF;
	border-radius: 39px;
	transition: all 0.2s;
	background: #21825B;
	box-shadow: 0px 5px 0px 0px #007144;
	font-size: 28px;
}

.game {
	display: block;
	position: relative;
	float: left;
	width: 121px;
	padding: 0;
	margin: 14px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 14px;
	color: #FFF;
	border-radius: 39px;
	transition: all 0.2s;
	background: #21825B;
	box-shadow: 0px 5px 0px 0px #007144;
	font-size: 26px;
}

@keyframes scrollUp {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	to {
		transform: translateY(0);

		opacity: 1;
	}
}
.animation-element {
	animation: scrollUp 1s forwards;
}